<main class="night white">
    <a class="secret" href="/secret"></a>
    <div class="main-panel">
        <div id="stars"></div>
        <div class="main-panel-floor">
            <div class="sand"></div>
        </div>
        <img id="pl-logo" src="/assets/logo.svg" alt="Payload Logo">
        <div class="header">
            <h1>Payload</h1>
            <button type="button" class="btn btn-discord btn-lg mr-3" onclick="location.href='/invite'">Invite to
                Discord</button>
            <button type="button" class="btn btn-outline-light btn-lg" onclick="location.href='/payload-docs'">Bot
                Manual</button>
            <button type="button" class="btn btn-discord btn-lg mr-3"
                onclick="location.href='https://discord.gg/F5kt68K'">Official Payload's Discord</button>
        </div>
    </div>

    <div class="container-fluid p-5">
        <div class="text-center mb-5">
            <h3>Supported Services</h3>
        </div>
        <div class="league-list">
            <a class="league-logo" href="http://etf2l.org"><img src="/assets/etf2l.png" alt="ETF2L"></a>
            <a class="league-logo" href="http://rgl.gg"><img src="/assets/rgl.png" alt="RGL"></a>
            <a class="league-logo" href="https://www.ugcleague.com"><img src="/assets/ugc.png" alt="UGC"></a>
            <a class="league-logo" href="https://logs.tf"><img src="/assets/logstf.png" alt="Logs.tf"></a>
            <a class="league-logo-shrink" href="https://eu.hlpugs.tf"><img src="/assets/hlpugs.png"
                    alt="HL Pugs"></a>
            <a class="league-logo" href="https://pug.champ.gg"><img src="/assets/pugchamp.svg" alt="Pugchamp"></a>
            <a class="league-logo" href="https://tf2pickup.pl"><img src="/assets/tf2pickuppl.png"
                    alt="TF2pickup.pl"></a>
        </div>
    </div>

    <div class="footer container-fluid px-5 py-3 bg-darkergray text-center">
        <span class="small">Website and bot created by <a href="https://sharky.cool">sharky</a>, maintained by <a
                href="https://steamcommunity.com/id/chab133">24</a>. Get in contact: <a
                href="mailto:24@elo.associates">24@elo.associates</a></span>
    </div>

    <script defer>
        particlesJS.load("stars", "/assets/data/particles.json", function () {
            console.log("Loaded stars!");
        });
    </script>
</main>