**
*.db
*.db-*

# Folders
!assets/**
!scripts/**
!src/**
!prisma/migrations/*

# Files
!package.json
!.yarn/**
!.yarnrc.yml
!yarn.lock
!tsup.config.ts
!tsconfig.json
!litefs.yml
!prisma/schema.prisma
!prisma/seed.ts
!fly.toml