# Compiled Code
/dist
/node_modules

# Stores and ENV
.env
*.db
*.db-*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store