@import url('./specifics/settings.css');
@import url('./specifics/guild.css');
@import url('./specifics/payload.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --darkburple: #5d70b4;
    --burple: #7289DA;
    --white: #FFFFFF;
    --gray: #99AAB5;
    --darkgray: #2C2F33;
    --darkergray: #23272A;
    --nightblack: #111111;
    --skyblue: #78B1DE;

    --background-hover: rgb(40, 45, 49);
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--darkgray);
  font-family: 'Montserrat', sans-serif;
}

.quotes::before,
.quotes::after {
    content: "\"";
}

.pc-pts::after {
    content: "ft";
}

.secret {
    position: absolute;
    top: 50px;
    width: 10px;
    height: 10px;
}

.red {
    color: red;
}

.white {
    color: white;
}

.large-font {
    font-size: 3rem;
}

.back-btn {
    cursor: pointer;
}

.button-back {
    display: flex;
    text-align: center;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

#identifier {
    font-size: 2.5rem;
}

.server-select-container {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.server-select {
    width: 35vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
    padding: .5rem;
}

.server-select:hover {
    background-color: var(--background-hover);
}

.button {
    margin-left: auto;
    padding: .5em 1em;
    border-radius: .25em;
    font-size: .75rem;
    color: white;
    border: none;
}

.button.btn-dash {
    background-color: hsl(101, 64%, 41%);
}

.button.btn-dash:hover {
    transition: 500ms;
    background-color: hsl(101, 64%, 31%);
}

.button.btn-invite {
    background-color: #444;
}

.button.btn-invite:hover {
    background-color: var(--darkergray);
    transition: 500ms;
}

.server-select-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    margin: 1rem 1rem;
    padding: 1rem;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
    align-content: center;
}




