.avatar {
    vertical-align: middle;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.guild {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.guild.guild-name-icon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    color: #FFF;
}

.guild-name-text {
    color: #FFF;
    margin-left: 10px;
}

.disabled,
.disabled a {
    filter: grayscale(100%);
    cursor: not-allowed;
    text-decoration: none;
    opacity: .4;
}
